# Package managers
/vendor/
/node_modules/
/npm-debug.log
/yarn-error.log

# Laravel framework
/public/hot/
/public/storage/

# Environment variables
/.env
/.env.backup

# Other
.phpunit.result.cache
Homestead.json
Homestead.yaml
/storage/*.key

# Laravel mix
/public/js/
/public/css/
